@charset "UTF-8";
body {
  margin: 0;
}

/*similarities on all pages*/
footer {
  font-family: "Raleway", sans-serif;
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
}

.__button {
  font-family: "Raleway", sans-serif;
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
}
.__button a {
  text-decoration: none;
  color: #fdcb46;
}

header {
  font-family: "Raleway", sans-serif;
  background-color: #579c87;
  color: #fdcb46;
}
header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 4em;
}

h1 {
  text-align: center;
}

main {
  width: 80%;
  margin: auto;
}

/* landing page*/
.menu-cover {
  height: 700px;
  margin: 30px 0;
  border: 2px solid grey;
  text-align: center;
}
.menu-cover a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.menu-cover __restaurant-one {
  font-family: "Devonshire", cursive;
  color: #3c1218;
}
.menu-cover __heading {
  font-family: "Bad Script", cursive;
}

/*
menu-one - la note enchantée
menu-two - le chic à la française
menu-three - le délice des papilles
menu-four - la palette du goût
*/
.menu {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px auto;
  padding: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-family: "Kalam", cursive;
  font-size: 0.8em;
}
@media (min-width: 768px) and (orientation: landscape) {
  .menu {
    font-size: 1.6em;
  }
}
.menu h2 {
  margin-top: 200px;
}
.menu p {
  line-height: 2em;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.menu p span:last-child {
  font-weight: bold;
}

.__one {
  background-color: #fcdfdb;
  color: #3c1218;
}
.__one i {
  text-align: center;
  font-size: 2.5em;
  color: #f15f62;
}
.__one h1 {
  font-family: "Devonshire";
  color: #3c1218;
  margin: 0;
}
.__one h1 i {
  font-size: 1em;
}
.__one h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
.__one h2:before {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #3c1218;
  position: absolute;
  left: 0;
  top: 50%;
}
.__one h2:after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background: #3c1218;
  position: absolute;
  right: 0;
  top: 50%;
}

.__two {
  background-color: #fff5fe;
  font-family: "PT Serif", serif;
}
.__two h1 {
  font-family: "Croissant One";
  color: #6e4ccc;
  margin: 0;
}
.__two .first-course {
  color: #c67412;
}
.__two .first-course h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
.__two .first-course h2:before {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background: #c67412;
  position: absolute;
  left: 0;
  top: 50%;
}
.__two .first-course h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background: #c67412;
  position: absolute;
  right: 0;
  top: 50%;
}
.__two .main-course {
  color: #a56799;
}
.__two .main-course h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
.__two .main-course h2:before {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background: #a56799;
  position: absolute;
  left: 0;
  top: 50%;
}
.__two .main-course h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background: #a56799;
  position: absolute;
  right: 0;
  top: 50%;
}
.__two .dessert {
  color: #6e4ccc;
}
.__two .dessert h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
.__two .dessert h2:before {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background: #6e4ccc;
  position: absolute;
  left: 0;
  top: 50%;
}
.__two .dessert h2:after {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background: #6e4ccc;
  position: absolute;
  right: 0;
  top: 50%;
}

.__three {
  background-color: #f9f9f9;
}
.__three h1 {
  font-family: "Parisienne";
  color: #0887fb;
  margin: 0;
}
.__three h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
.__three h2:before {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background: #0887fb;
  position: absolute;
  left: 0;
  top: 50%;
}
.__three h2:after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background: #0887fb;
  position: absolute;
  right: 0;
  top: 50%;
}

.__four {
  background-color: #fdfffd;
}
.__four h1 {
  font-family: "Kaushan Script";
  color: #72bf56;
  margin: 0;
}
.__four h2 {
  margin: 50px 0 28px 0;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
.__four h2:before {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background: #72bf56;
  position: absolute;
  left: 0;
  top: 50%;
}
.__four h2:after {
  content: "";
  display: block;
  width: 30%;
  height: 4px;
  background: #72bf56;
  position: absolute;
  right: 0;
  top: 50%;
}

/*# sourceMappingURL=styles.css.map */
