body {
    margin: 0;
}

$background-color: #579c87;
$logo-color: #fdcb46;
$back-menu-one: #fcdfdb;
$back-menu-two: #fff5fe;
$back-menu-three: #f9f9f9;
$back-menu-four: #fdfffd;
$color-menu-one: #3c1218;
$color-menu-two: #c77412;
$color-menu-three: #0887fb;
$color-menu-four: #72bf56;

@mixin button {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $logo-color;
    text-align: center;
    font-size: 2.2em;
    margin: 0 auto 30px;
    padding: 30px 15px;
    width: 80%;
    border-radius: 16px;
    a {
        text-decoration: none;
        color: $logo-color;
    }
}

@mixin menu-title($font-family, $color) {
    font-family: $font-family;
    color: $color;
    margin: 0;
}

@mixin title-line {
    margin: 50px 0 28px 0;
    text-align: center;
    font-size: 1.4em;
    position: relative;
}

@mixin title-line-left($color, $width: 30%, $thickness: 4px) {
    content: "";
    display: block;
    width: $width;
    height: $thickness;
    background: $color;
    position: absolute;
    left: 0;
    top: 50%;
}

@mixin title-line-right($color, $width: 30%, $thickness: 4px) {
    content: "";
    display: block;
    width: $width;
    height: $thickness;
    background: $color;
    position: absolute;
    right: 0;
    top: 50%;
}

/*similarities on all pages*/
.__button {
    @include button;
}

header {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $logo-color;
    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 4em;
    }
}

h1 {
    text-align: center;
}

main, .contenu {
    width: 80%;
    margin: auto;
}

footer {
    @media (min-width: 768px) and (orientation: landscape) {
        display: flex;
        justify-content: space-between;
        .__button {
            @media (min-width: 768px) and (orientation: landscape) {
            border-radius: 0px;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
        
    }
}

/* landing page*/
@media (min-width: 768px) and (orientation: landscape) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 60px;
    }
}

header {
    h1 {
        padding: 30px;
        margin-bottom: 30px;
    }
}

.menu-cover {
    height: 700px;
    margin: 30px 0;
    border: 2px solid grey;
    text-align: center;
    a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }
    __restaurant-one {
            font-family: 'Devonshire', cursive;
            color: $color-menu-one;
        }
    __heading {
            font-family: 'Bad Script', cursive;
        }
}

/*
menu-one - la note enchantée
menu-two - le chic à la française
menu-three - le délice des papilles
menu-four - la palette du goût
*/

.menu {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-family: 'Kalam', cursive;
    font-size: 0.8em;
    @media (min-width: 768px) and (orientation: landscape) {
        font-size: 1.6em;
    }
    h2 {
        margin-top: 200px;
    }
    p {
        line-height: 2em;
        display: flex;
        justify-content: space-between;
        margin: 0;
        span:last-child{
           font-weight: bold;
        }
    }
}

.__one {
    background-color: $back-menu-one;
    color: $color-menu-one;
    i {
        text-align: center;
        font-size: 2.5em;
        color: #f15f62;
    }
    h1 {
        @include menu-title('Devonshire', $color-menu-one);
        i {
            font-size: 1em;
        }
    }
    h2 {
        @include title-line;
        &:before {
            @include title-line-left($color-menu-one, 30%, 2px)
        }
        &:after {
            @include title-line-right($color-menu-one, 30%, 2px);
        }
    }
}

.__two {
    background-color: $back-menu-two;
    h1 {
        @include menu-title('Croissant One', #6e4ccc);
    }
    font-family: 'PT Serif', serif;
    .first-course {
        color: #c67412;
    h2 {
            @include title-line;
        &:before {
            @include title-line-left(#c67412, 25%, 5px)
        }
        &:after {
            @include title-line-right(#c67412, 25%, 5px)
        }
        }
    }
    .main-course {
        color: #a56799;
        h2 {
            @include title-line;
        &:before {
            @include title-line-left(#a56799, 25%, 5px)
        }
        &:after {
            @include title-line-right(#a56799, 25%, 5px)
        }
        }
    }
    .dessert {
        color: #6e4ccc;
        h2 {
            @include title-line;
        &:before {
            @include title-line-left(#6e4ccc, 25%, 5px)
        }
        &:after {
            @include title-line-right(#6e4ccc, 25%, 5px)
        }
        }
    }
}

.__three {
    background-color: $back-menu-three;
    h1 {
        @include menu-title('Parisienne', $color-menu-three);
    }
    h2 {
        @include title-line;
        &:before {
            @include title-line-left($color-menu-three, 30%, 4px)
        }
        &:after {
            @include title-line-right($color-menu-three, 30%, 4px)
        }
    }
}

.__four {
    background-color: $back-menu-four;
    h1 {
        @include menu-title('Kaushan Script', $color-menu-four);
    }
    h2 {
        @include title-line;
        &:before {
            @include title-line-left($color-menu-four, 30%, 4px)
        }
        &:after {
            @include title-line-right($color-menu-four, 30%, 4px)
        }
    }
}