body {
    margin: 0;
}

$background-color: #579c87;
$logo-color: #fdcb46;
$back-menu-one: #fcdfdb;
$back-menu-two: #fff5fe;
$back-menu-three: #f9f9f9;
$back-menu-four: #fdfffd;
$color-menu-one: #3c1218;
$color-menu-two: #c77412;
$color-menu-three: #0887fb;
$color-menu-four: #72bf56;

@mixin button {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $logo-color;
    text-align: center;
    a {
        text-decoration: none;
        color: $logo-color;
    }
}

/*similarities on all pages*/
footer {
    @include button;
}

.__button {
    @include button;
}

header {
    font-family: 'Raleway', sans-serif;
    background-color: $background-color;
    color: $logo-color;
    h1 {
        margin: 0;
        font-weight: bold;
        font-size: 4em;
    }
}

h1 {
    text-align: center;
}

main {
    width: 80%;
    margin: auto;
}

/* landing page*/
.menu-cover {
    height: 700px;
    margin: 30px 0;
    a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__restaurant-one {
            font-family: 'Devonshire', cursive;
            color: $color-menu-one;
        }
}

/*
menu-one - la note enchantée
menu-two - le chic à la française
menu-three - le délice des papilles
menu-four - la palette du goût
*/

.menu {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    font-family: 'Kalam', cursive;
    font-size: 1.6em;
    p {
        display: flex;
        justify-content: space-between;
        margin: 0;
        span:last-child{
           font-weight: bold;
        }
    }
}

.__one {
    background-color: $back-menu-one;
    color: $color-menu-one;
}

.__two {
    background-color: $back-menu-two;
    font-family: 'PT Serif', serif;
    .first-course {
        color: #c67412;
    }
    .main-course {
        color: #a56799;
    }
    .dessert {
        color: #6e4ccc;
    }
}

.__three {
    background-color: $back-menu-three;
}

.__four {
    background-color: $back-menu-four;
}