body {
    width: 100%;
    margin: 0;
}

/*similarities*/
body a {
    text-decoration: none;
}

header, .btn, .btn a {
    background-color: #579c87;
    color: #fdcb46;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

header h1 {
    margin: 0;
    font-size: 4em;
    padding: 20px;
}

.btn {
    font-size: 2.2em;
    margin-bottom: 84px;
    padding: 38.5px 0;
    width: 665px;
    text-align: center;
    border-radius: 16px;
}

aside {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.contact {
    order: 2;
} -----------------DESKTOP*/

/* footer .btn {
    font-size: 2em;
    padding: 50px 0;
} -----------------DESKTOP*/

/*header*/
header {
    text-align: center;
    margin-bottom: 50px;
}

/*main*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fixed-size {
    border: 2px solid rgba(0,0,0,0.2);
    width: 535px;
    height: 770px;
    text-align: center;
    margin-bottom: 84px;
}

.note {
    background-color: #fcdfdb;
    color: #3d1319;
}

.chic {
    background-color: #fff5fe;
}

/*
.chic p {
    linear-gradient: #c77412 #a56799 #6e4ccc
}
*/

.chic h1 {
    color: #c77412;
}

.delice {
    background-color: #edefef;
}

/*
.delice p {
    linear-gradient: #0228dd #0670f3 #229df9
}
*/

.delice h1 {
    color: #0887fb;
}

.palette {
    background-color: #fdfffd;
}

/*
.palette p {
     linear-gradient: #3e923a #beff7f
}
*/

.palette h1 {
    color: #72bf56;
}

/*aside*/

/*footer*/

/* footer {
    display: flex;
    justify-content: space-between;
} -----------------------------------DESKTOP*/