body {
    width: 100%;
}

/*similarities*/
header, footer, aside .btn {
    background-color: #579c87;
    color: #fdcb46;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

aside {
    display: flex;
    justify-content: center;
}

aside .btn {
    font-size: 2.2em;
    margin: 84px 0;
    padding: 38.5px 0;
    width: 665px;
    text-align: center;
    border-radius: 16px;
}

/*.contact {
    order: 2;
} -----------------DESKTOP*/

footer .btn {
    font-size: 2em;
    padding: 50px 0;
}

/*header*/
header {
    text-align: center;
    margin-bottom: 50px;
}

/*main*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fixed-size {
    border: 2px solid rgba(0,0,0,0.2);
    width: 535px;
    height: 770px;
    text-align: center;
}

.note {
    background-color: #fcdfdb;
}

.chic {
    background-color: #fff5fe;
}
/*aside*/

/*footer*/
/* footer {
    display: flex;
    justify-content: space-between;
} -----------------------------------DESKTOP*/